* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;

    li {
        color: black;
    }
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding: 2rem;
}

.legendBtn {
    position: relative;
    font-size: 1rem;
    align-self: flex-end;
}

.legend-options--opened {
    position: absolute;
    right: 2%;
    background-color: white;
    transition: all .4 ease;

    .legend-options__close-and-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #D7DDD6;
        font-weight: bold;
        font-size: 1rem;
        padding: 1rem 1.2rem;
        width: 100%;
        
        .legend-options__heading {
            margin-right: 2rem;
        }

        .legend-options__closing-btn {
            cursor: pointer;
        }
    }

    .legend-options__option {
        padding:1rem 1.2rem;
        cursor: pointer;

        &::before {
            content: '';
            width: 15px;
            height: 15px;
            background-color: rgba(128, 0, 0, 1);
            float: left;
            margin-right: 1rem;
        }
    }

}

.closed {
    display: none;
    transition: all .4 ease;
}